{% extends "students/base.html" %}

{% block content %}
    <style>
        .asteriskField {
            display: none;
        }

        * {box-sizing: border-box}

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 2; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: #474e5d;
            padding-top: 50px;
            opacity: 0.6;
        }

        /* Modal Content/Box */
        .modal-content {
            z-index: 3;
            position: fixed;
            display: none; /* Hidden by default */
            background-color: #fefefe;
            top: 50%;
            left: 50%;
            margin: 0 auto;
            margin-left: -200px;
            margin-top: -200px;
            padding: 20px;
            width: auto;
            height: auto;
        }
    </style>
    <script>
        // Get the modal
        var modal = document.getElementById('id01');
        var modal_content = document.getElementById('id02');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                modal_content.style.display = "none";
            }
        }
    </script>

    {% load crispy_forms_tags %}
    <form method="POST" class="form-group col-sm-8">
        <br>
        <br>

        <div id="id01" class="modal"></div>
        <div id="id02" class="modal-content">
            <div class="container" style="text-align: center">
                <h1>Join Class</h1>
                <p>Are you sure you want to join this classroom?</p>
                <button type="button" onclick="document.getElementById('id01').style.display='none'; document.getElementById('id02').style.display='none';" type="button" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Join</button>
            </div>
        </div>

        {% csrf_token %}
        {{ form | crispy }}
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="document.getElementById('id01').style.display='block';
                document.getElementById('id02').style.display='block';">
            Join Class
        </button>
    </form>



{% endblock content %}