{% extends "students/base.html" %}

{% block content %}
    <style>
        .asteriskField {
            display: none;
        }

        * {box-sizing: border-box}

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 2; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: #474e5d;
            padding-top: 50px;
            opacity: 0.6;
        }

        /* Modal Content/Box */
        .modal-content {
            z-index: 3;
            position: fixed;
            display: none; /* Hidden by default */
            background-color: #fefefe;
            top: 50%;
            left: 50%;
            margin: 0 auto;
            margin-left: -200px;
            margin-top: -200px;
            padding: 20px;
            width: auto;
            height: auto;
        }
    </style>
    <script>
        {% if classroom_name and classroom_name == " " %}
            // Class doesn't exist notification
            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('id03').style.display='block';
                document.getElementById('id04').style.display='block';
            }, false);
        {% elif classroom_name and classroom_name != " " %}
            // Class name notification
            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('id01').style.display='block';
                document.getElementById('id02').style.display='block';
            }, false);
        {% endif %}
    </script>

    {% load crispy_forms_tags %}
    <form method="POST" class="form-group col-sm-8">
        <br>
        <br>

        <div id="id01" class="modal"></div>
        <div id="id02" class="modal-content">
            <div class="container" style="text-align: center">
                <h1>Join {{ classroom_name }}</h1>
                <p>Are you sure you want to join this classroom?</p>
                <a href="{% url 'join_class' %}" role="button" class="btn btn-secondary">Cancel</a>
                <button id="join_class_button_submit" type="submit" class="btn btn-primary" style="background-color: #4EADBC; border-color: #4EADBC">
                    Join
                </button>
            </div>
        </div>

        <div id="id03" class="modal"></div>
        <div id="id04" class="modal-content">
            <div class="container" style="text-align: center">
                <h1>Error Encountered</h1>
                <p>Sorry! It appears this class doesn't exist.</p>
                <a href="{% url 'join_class' %}" role="button" class="btn btn-primary" style="border-color: #4EADBC; background-color: #4EADBC">
                    OK
                </a>
            </div>
        </div>

        {% csrf_token %}

        {{ form.class_code | as_crispy_field }}

        <a id="join_class_button" href="#" onclick="
        val = document.getElementById('id_class_code').value;
        if (val != '') {
            document.getElementById('join_class_button').href = val;
            document.getElementById('join_class_button').click();
        } else {
            document.getElementById('join_class_button_submit').click();
        }" role="button" class="btn btn-primary" style="background-color: #4EADBC; border-color: #4EADBC">
            Join Class
        </a>
    </form>



{% endblock content %}