{% extends "students/base.html" %}
{% block title %} Take Survey {% endblock %}

{% block content %}
    <div class="row justify-content-center">
    <h1 style="margin-top: 10px">{{ survey.name }}</h1>
    </div>

    <div class="row justify-content-center">
    <div class="col-xs-8 col-sm-8">
    <form method="post">
        {% csrf_token %}
        {% for q in questions %}
            {% if q.question_type == "Boolean" %}
                <div class="card" style="margin-top: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ q.question_text }}</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{ q.id }}_Bool" value="true" id="{{ q.id }}_T_Bool" required>
                            <label class="form-check-label" for="{{ q.id }}_T_Bool">
                                True
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{ q.id }}_Bool" value="false" id="{{ q.id }}_F_Bool" required>
                            <label class="form-check-label" for="{{ q.id }}_F_Bool">
                                False
                            </label>
                        </div>
                    </div>
               </div>
            {% endif %}
            {% if q.question_type == "Text" %}
                <div class="card" style="margin-top: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ q.question_text }}</h5>
                        <div class="form-group">
                            <textarea class="form-control" name="{{ q.id }}" rows="2" required></textarea>
                        </div>
                    </div>
               </div>
            {% endif %}
            {% if q.question_type == "MultipleChoice" %}
                <div class="card" style="margin-top: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ q.question_text }}</h5>
                        {% if q.option_a != null %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ q.id }}_MC" value="A" id="{{ q.id }}_A_MC" required>
                                <label class="form-check-label" for="{{ q.id }}_A_MC">
                                    {{ q.option_a }}
                                </label>
                            </div>
                        {% endif %}
                        {% if q.option_b != null %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ q.id }}_MC" id="{{ q.id }}_B_MC" required>
                                <label class="form-check-label" for="{{ q.id }}_B_MC">
                                    {{ q.option_b }}
                                </label>
                            </div>
                        {% endif %}
                        {% if q.option_c != null %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ q.id }}_MC" id="{{ q.id }}_C_MC" required>
                                <label class="form-check-label" for="{{ q.id }}_C_MC">
                                    {{ q.option_c }}
                                </label>
                            </div>
                        {% endif %}
                        {% if q.option_d != null %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ q.id }}_MC" id="{{ q.id }}_D_MC" required>
                                <label class="form-check-label" for="{{ q.id }}_D_MC">
                                    {{ q.option_d }}
                                </label>
                            </div>
                        {% endif %}
                        {% if q.option_e != null %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ q.id }}_MC" id="{{ q.id }}_E_MC" required>
                                <label class="form-check-label" for="{{ q.id }}_E_MC">
                                    {{ q.option_e }}
                                </label>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if q.question_type == "Checkbox" %}
                <div class="card" style="margin-top: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ q.question_text }}</h5>
                        {% if q.option_a != null %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{ q.id }}_A_CB" id="{{ q.id }}_A_CB">
                                <label class="form-check-label" for="{{ q.id }}_A_CB">
                                    {{ q.option_a }}
                                </label>
                            </div>
                        {% endif %}
                        {% if q.option_b != null %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{ q.id }}_B_CB" id="{{ q.id }}_B_CB">
                                <label class="form-check-label" for="{{ q.id }}_B_CB">
                                    {{ q.option_b }}
                                </label>
                            </div>
                        {% endif %}
                        {% if q.option_c != null %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{ q.id }}_C_CB" id="{{ q.id }}_C_CB">
                                <label class="form-check-label" for="{{ q.id }}_C_CB">
                                    {{ q.option_c }}
                                </label>
                            </div>
                        {% endif %}
                        {% if q.option_d != null %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{ q.id }}_D_CB" id="{{ q.id }}_D_CB">
                                <label class="form-check-label" for="{{ q.id }}_D_CB">
                                    {{ q.option_d }}
                                </label>
                            </div>
                        {% endif %}
                        {% if q.option_e != null %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{ q.id }}_E_CB" id="{{ q.id }}_E_CB">
                                <label class="form-check-label" for="{{ q.id }}_E_CB">
                                    {{ q.option_e }}
                                </label>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <br>
        <button type="submit" name="submit", value="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    </div>
    <br>
{% endblock %}