{% extends "students/base.html" %}

{% block content %}
    <style>
        .scrollable {
            max-height: 360px;
            overflow: scroll;
        }
    </style>

    <!-- Join Class Button -->
    <div class="container">
        <br>
        <h2 class="display-3 row justify-content-center">My Classes</h2>
        <a href="{% url 'join_class' %}" class="btn btn-primary">
            <span class="fa fa-plus"></span> Class
        </a>
    </div>

    <!-- If the student is in any classes, display the class name + teacher name of that class-->
    {% if class_list %}
        <div class=" container"">
            <div class="row ">
                <div class="col-sm-12">
                    <div class="card" style="margin-top: 2em">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg">
                                    <strong>Class</strong>
                                </div>
                                <div class="col-4">
                                    <strong>Teacher</strong>
                                </div>
                            </div>
                        </div>
                        <!--
                        Loops through the 2-column list returned by view_classes so that students can see all their classes
                        and their respective teacher names
                        -->
                        <ul class="list-group list-group-flush scrollable">
                            {% for class, teacher in class_list %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg">
                                            <a href="{% url 'view_surveys' class.id %}">{{ class.name }}</a>
                                        </div>
                                        <div class="col-2">
                                            {{ teacher.first_name }} {{ teacher.last_name }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        </div>
    {% else %}
        <br>No classrooms are available.
    {% endif %}

{% endblock content %}



