{% extends "students/base.html" %}

{% block content %}
    <style>
        .scrollable {
            max-height: 320px;
            overflow: scroll;
        }
    </style>

    <!-- Displays the classroom name -->
    <div class="container">
        <br>
        <h2 class="display-3 row justify-content-center">{{ classroom.name }}</h2>
    </div>

    <!-- Displays all of the student's surveys (completed and not completed), not completed is in the list 'surveys' -->
    <div class="container">
        <div class="row ">
            <div class="col-sm-12">
                <div class="card" style="margin-top: 2em">
                    <div class="card-header" style="background-color: #43A3B1; border-color: #43A3B1; color: white">
                        <div class="row">
                            <div class="col-lg">
                                <strong>Survey</strong>
                            </div>
                            <div class="col-lg">
                                <strong>Due</strong>
                            </div>
                            <div class="col-2">
                                <strong>Status</strong>
                            </div>
                        </div>
                    </div>
                    {% if surveys or completed %}
                        <ul class="list-group list-group-flush scrollable">
                            <!-- Displays all of the not completed surveys with blue Take Survey button next to them
                            at the top of the list group -->
                            {% for survey, due in surveys %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg">
                                            {{ survey.name }}
                                        </div>
                                        <div class="col-lg">
                                            {{ due }}
                                        </div>
                                        <div class="col-2">
                                            <a href="{% url 'take_survey' survey.pk %}" class="btn btn-primary">Take Survey</a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}

                            <!-- Displays all of the completed surveys with greyed out Completed buttons next to them -->
                            {% for survey in completed %}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-lg">
                                                {{ survey.name }}
                                            </div>
                                            <div class="col-2">
                                                <button type="button" class="btn btn-secondary">Completed</button>
                                            </div>
                                        </div>
                                    </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul class="list-group list-group-flush scrollable">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg">
                                    </div>
                                    <div class="col-lg">
                                        No surveys available.
                                    </div>
                                    <div class="col-2">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}