{% extends "students/base.html" %}

{% block content %}
    {% if class_list %}
        <div class=" container">
            <div class="row ">
                <div class="col-sm-12">
                    <div class="card" style="margin-top: 2em">
                        <div class="card-header">
                            <div class="row" style="justify-content: center; text-align: center; align-items: center">
                                <h4>My Classes</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg">
                                    <strong>Class</strong>
                                </div>
                                <div class="col-2">
                                    <strong>Teacher</strong>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush scrollable">
                            {% for class, teacher in class_list %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg">
                                            <a href="{% url 'view_surveys' class.id %}">{{ class.name }}</a>
                                        </div>
                                        <div class="col-2">
                                            {{ teacher.first_name }} {{ teacher.last_name }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        </div>
    {% else %}
        <br>No classrooms are available.
    {% endif %}

{% endblock content %}



