<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Reset Password Confirm</title>
</head>

{% load i18n static %}
{% block content %}
{% load crispy_forms_tags %}

{% if validlink %}

    <body style ="background-color: #85dde9">
        <br>
        <div class="row justify-content-center align-middle">
            <h5>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</h5>
        </div>
        <div class="row justify-content-center align-middle">
            <form method="POST">
                <br>
                {% csrf_token %}
                {{form | crispy}}
                <fieldset class="module aligned">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans 'Change my password' %}" />
                </fieldset>
            </form>
        </div>
    </body>

{% else %}

    <body style ="background-color: #85dde9">
        <div class="row justify-content-center align-middle">
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        </div>
    </body>

{% endif %}

{% endblock %}