{% extends "teachers/base.html" %}

{% block content %}
    <style>
        .asteriskField {
            display: none;
        }

        form {
            font-size: 20px;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 2; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: #474e5d;
            padding-top: 50px;
            opacity: 0.6;
        }

        /* Modal Content/Box */
        .modal-content {
            z-index: 3;
            position: fixed;
            display: none; /* Hidden by default */
            background-color: #fefefe;
            top: 50%;
            left: 50%;
            margin: 0 auto;
            margin-left: -200px;
            margin-top: -200px;
            padding: 20px;
            width: auto;
            height: auto;
        }
    </style>

    {% load crispy_forms_tags %}
    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href=
                "{% if question_format == "Recurring" %}{% url 'view_recurring_questions' survey.classroom.pk %}
                 {% else %}{% url 'view_questions' survey.pk %}
                 {% endif %}
                ">View {{ question_format }} Questions</a>
            </li>
            {% if action == "Add" %}
            <li class="breadcrumb-item"><a href="{% url 'choose_question_type' survey.pk %}">Choose Question Type</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{ action }} Multiple Choice Question</li>
        </ol>
    </nav>

    <div class="justify-content-center">
        <form method="POST" class="form-group">
            <br>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ form.question_text | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.option_a | as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.option_b | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.option_c | as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.option_d | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.option_e | as_crispy_field }}
                </div>
                <div class="col">
                </div>
            </div>
            <br>
            {% if action == "Update" and question_format == "Recurring" %}

                <! -- Update Question Modal -->
                <div id="id01" class="modal"></div>
                <div id="id02" class="modal-content">
                    <div class="container" style="text-align: center">
                        <h1>Edit Recurring Question</h1>
                        <p>Are you sure you want to edit this question?</p>
                        <button onclick="document.getElementById('id01').style.display='none'; document.getElementById('id02').style.display='none';" type="button" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-success">Confirm Edit</button>
                    </div>
                </div>

                <button type="button" style="margin-top: 10px" class="btn btn-primary" data-toggle="modal" onclick="document.getElementById('id01').style.display='block';
                document.getElementById('id02').style.display='block';">
                    {{ action }} Question
                </button>
            {% else %}
                <button type="submit" style="margin-top: 10px" class="btn btn-primary">{{ action }} Question</button>
            {% endif %}
        </form>
    </div>
{% endblock content %}