{% extends "teachers/base.html" %}

{% block content %}
    <style>
        .asteriskField {
            display: none;
        }
    </style>

    {% load crispy_forms_tags %}
    <br>
    <input type="button" style="text-align:left;" class="btn btn-primary" value="Back" onclick="history.back()">
    <br>
    <div class="row justify-content-center">
        <h2>Add Short Answer Question</h2>
    </div>

    <div class="row justify-content-center">
        <form method="POST" class="form-group">
            <br>
            <br>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ form.question_text | as_crispy_field }}
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Create Question</button>
        </form>
    </div>
{% endblock content %}