{% extends "teachers/base.html" %}

{% block content %}
    <style>
        .asteriskField {
            display: none;
        }
    </style>

    {% load crispy_forms_tags %}
    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'view_recurring_questions' survey_id %}">View Recurring Questions</a></li>
            <li class="breadcrumb-item"><a href="{% url 'choose_question_type' survey_id %}">Choose Question Type</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Checkbox Question</li>
        </ol>
    </nav>

    <div class="row justify-content-center">
        <form method="POST" class="form-group">
            <br>
            <br>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ form.question_text | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.option_a | as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.option_b | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.option_c | as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.option_d | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.option_e | as_crispy_field }}
                </div>
                <div class="col">
                </div>
            </div>
            <br>
            <!-- {{ form | crispy}} -->
            <button type="submit" class="btn btn-primary">Create Question</button>
        </form>
    </div>
{% endblock content %}