{% extends "teachers/base.html" %}

{% block content %}
    <br>
    <a href="{% url 'view_classroom_info' classroom_id %}" type="button" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back</a>
    <br>
    {% load crispy_forms_tags %}
    <div class="row justify-content-center">
        <form method="POST" class="form-group col-sm-10">
            <br>
            {% csrf_token %}
            {{ form | crispy}}
            <button type="submit" class="btn btn-primary">Create Survey</button>
        </form>
    </div>
{% endblock content %}