{% extends "teachers/base.html" %}

{% block title %}
    Add Question • Classbop
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href=
                "{% if question_format == "Recurring" %}{% url 'view_recurring_questions' survey.classroom.pk %}
                 {% else %}{% url 'view_questions' survey.pk %}
                 {% endif %}
                ">View {{ question_format }} Questions</a>
            </li>
            {% if action == "Add" %}
            <li class="breadcrumb-item"><a href="{% url 'choose_question_type' survey.pk %}">Choose Question Type</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{ action }} Short Answer Question</li>
        </ol>
    </nav>

    <div class="justify-content-center">
        <form method="POST" class="form-group">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ form.question_text | as_crispy_field }}
                </div>
            </div>

            {% if action == "Update" and question_format == "Recurring" %}

                <! -- Update Question Modal -->
                <div id="id01" class="modal"></div>
                <div id="id02" class="modal-content">
                    <div class="container" style="text-align: center">
                        <h1>Edit Recurring Question</h1>
                        <p>Are you sure you want to edit this question?</p>
                        <button onclick="document.getElementById('id01').style.display='none'; document.getElementById('id02').style.display='none';" type="button" class="btn btn-secondary">Cancel</button>
                        <button type="submit" class="btn btn-blue">Confirm Edit</button>
                    </div>
                </div>

                <button type="button" style="margin-top: 10px;" class="btn btn-blue" data-toggle="modal" onclick="document.getElementById('id01').style.display='block';
                document.getElementById('id02').style.display='block';">
                    {{ action }} Question
                </button>
            {% else %}
                <button type="submit" style="margin-top: 10px;" class="btn btn-blue">{{ action }} Question</button>
            {% endif %}
        </form>
    </div>
{% endblock content %}