<!doctype html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175573458-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-175573458-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <title>Classbop</title>
    <!-- Favicon  -->
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'users/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'users/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'users/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'users/images/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'users/images/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <style>
        /* change the link color */
        .nav-item, .navbar-brand {
            color: black;
        }

        /* change the color of active or hovered links */
        .navbar-brand:focus, .navbar-brand:hover,
        .nav-link:focus, .nav-link:hover {
            color: #5E6472;
        }

        /* displays the navbar toggle button */
        #navbar-toggle-custom {
            color: black;
            font-size: 28px;
        }
    </style>
</head>

<body style ="background-color: #FCF9ED">
    <header>
        <nav class="navbar navbar-expand-sm" style="background-color: #FFA69E">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#teacher-navbar" aria-controls="teacher-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-navicon" id="navbar-toggle-custom"></i></span>
            </button>
            <a class="navbar-brand" href="/teacher/view_classes">
                {% load static %}
                <img src="{% static 'users/images/ClassBopPacificBlue2.png' %}" width="150" alt="ClassBop">
            </a>

            <div class="collapse navbar-collapse" id="teacher-navbar">
                 <div class="navbar-nav ml-auto">
                     <a class="nav-item nav-link" href="/dashboard/teacher_dashboard/"><span class="fa fa-line-chart"></span> Dashboard</a>
                     <a class="nav-item nav-link" href="/teacher/view_classes"><span class="fa fa-graduation-cap"></span> View Classes</a>
                     <a class="nav-item nav-link" href="/teacher/suggest_feature"><span class="fa fa-commenting"></span> Contact Us</a>
                     <a class="nav-item nav-link" href="/teacher/logout"><span class="fa fa-user-circle"></span> Logout</a>
                 </div>
            </div>
        </nav>
    </header>

    <div id="site-wrapper" class="container">
        {% block content %}
            if you see this, something is wrong!
        {% endblock content %}
    </div>

</body>