{% extends "teachers/base.html" %}

{% block content %}
    <style>
        .asteriskField {
            display: none;
        }
    </style>

    {% load crispy_forms_tags %}
    <br>
    <input type="button" style="text-align:left;" class="btn btn-primary" value="Back" onclick="history.back()">
    <br>

    <div class="row justify-content-center">
        <form method="POST" class="form-group">
            <br>
            <br>
            {% csrf_token %}
            {{ form | crispy}}
            <button type="submit" class="btn btn-primary">Create Question</button>
        </form>
    </div>
{% endblock content %}