{% extends "teachers/base.html" %}

{% block title %}
    Add Question • Classbop
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href=
                "{% if question_format == "Recurring" %}{% url 'teachers:view_recurring_questions' survey.classroom.pk %}
                 {% else %}{% url 'teachers:view_questions' survey.pk %}
                 {% endif %}
                ">View {{ question_format }} Questions</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Choose Question Type</li>
        </ol>
    </nav>

    <div class="row justify-content-center">
        <form method="POST" class="form-group">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.question_type_choice|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.anonymous.label }} :
                    {{ form.anonymous }}
                </div>
                <button type="submit" class="btn btn-blue">
                    Create Question
                </button>
        </form>
    </div>
{% endblock content %}