{% extends "teachers/base.html" %}

{% block content %}
    <style>
        .asteriskField {
            display: none;
        }

        form {
            font-size: 20px;
        }
    </style>

    {% load crispy_forms_tags %}
    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href=
                "{% if question_format == "Recurring" %}{% url 'view_recurring_questions' survey.classroom.pk %}
                 {% else %}{% url 'view_questions' survey.pk %}
                 {% endif %}
                ">View {{ question_format }} Questions</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Choose Question Type</li>
        </ol>
    </nav>

    <div class="row justify-content-center">
        <form method="POST" class="form-group">
            <br>
            {% csrf_token %}
            {{ form | crispy}}
            <br>
            <button type="submit" class="btn btn-primary">Create Question</button>
        </form>
    </div>
{% endblock content %}