{% extends "teachers/base.html" %}

{% block content %}
    <style>
        .scrollable {
            height: 320px;
            overflow: scroll;
        }

        .asteriskField {
            display: none;
        }

        * {box-sizing: border-box}

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 2; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: #474e5d;
            padding-top: 50px;
            opacity: 0.6;
        }

        /* Modal Content/Box */
        .modal-content {
            z-index: 3;
            position: fixed;
            display: none; /* Hidden by default */
            background-color: #fefefe;
            top: 50%;
            left: 50%;
            margin: 0 auto;
            margin-left: -200px;
            margin-top: -200px;
            padding: 20px;
            width: auto;
            height: auto;
        }
    </style>
    <script src="https://kit.fontawesome.com/4674fc2949.js" crossorigin="anonymous"></script>

    <br>

    <div class="content" style="margin-top: 1em;">
        <div class="row">
            <div class="col-sm">
                <a href="{% url 'view_classroom_info' survey.classroom_id %}" type="button" class="btn" style="border-color: #FFA69E; background-color: #FFA69E; -webkit-appearance: none">
                    <i class="fas fa-home"></i> Classroom Home
                </a>
            </div>
            <div class="col-sm">
                <h1 class="row justify-content-center" style="white-space: nowrap;">View Questions For {{ survey.name }}</h1>
            </div>
            <div class="col-sm">
                <button onclick="document.getElementById('id01').style.display='block';
                document.getElementById('id02').style.display='block';" class="btn btn-danger" style="margin-left: 15px; margin-bottom: 15px; float: right;">
                    <i class="fa fa-trash-alt"></i> Delete</button>
                <button onclick="document.getElementById('id03').style.display='block';
                document.getElementById('id04').style.display='block';" class="btn btn-primary" style="position: relative; float: right; border-color: #43A3B1; background-color: #43A3B1"><i class="far fa-edit"></i> Edit</button>
            </div>
        </div>

        <! -- Delete Survey Modal -->
        <div id="id01" class="modal"></div>
        <div id="id02" class="modal-content">
            <div class="container" style="text-align: center">
                <h1>Delete Survey</h1>
                <p>Are you sure you want to delete this survey?</p>
                <button onclick="document.getElementById('id01').style.display='none'; document.getElementById('id02').style.display='none';" type="button" class="btn btn-secondary">Cancel</button>
                <a href="{% url 'delete_survey' survey.pk %}" type="button" class="btn btn-danger">Delete</a>
            </div>
        </div>

        <! -- Edit Survey Name/End Date Modal -->
        <div id="id03" class="modal"></div>
        <div id="id04" class="modal-content">
            <div class="container" style="text-align: center">
                <h1>Edit Survey</h1>
                {% load crispy_forms_tags %}
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <button onclick="document.getElementById('id03').style.display='none'; document.getElementById('id04').style.display='none';" type="button" class="btn btn-secondary">Cancel</button>
                    <button type="submit" class="btn btn-primary" style="background-color: #43A3B1; border-color: #43A3B1">Confirm Edit</button>
                </form>
            </div>
        </div>

        <br>

        <! -- Delete Question Modal -->
        <div id="id05" class="modal"></div>
        <div id="id06" class="modal-content">
            <div class="container" style="text-align: center">
                <h1>Delete Question</h1>
                <p>Are you sure you want to delete this question?</p>
                <button onclick="document.getElementById('id05').style.display='none'; document.getElementById('id06').style.display='none';" type="button" class="btn btn-primary">Cancel</button>
                <a id="delete_link" href="" type="button" class="btn btn-danger">Delete</a>
            </div>
        </div>

        <p class="d-inline lead">This survey is sent out every </p>
        {% for day in frequency_list %}
            <span class="d-inline ml-1 badge badge-pill badge-primary" style="background-color: #A9EFE1; border-color: #A9EFE1; color: black">{{ day }}</span>
        {% endfor %}
        <p class="lead">Ending on {{ survey.end_date }}</p>

        <! -- Questions Table -->
        <div class="card">
            <div class="card-header" style="background-color: #43A3B1; border-color: #43A3B1; color: white">
                <div class="row">
                    <div class="col-8">
                        <strong>Questions</strong>
                    </div>
                    <div class="col-2">
                        <strong>Question Type</strong>
                    </div>
                    <div class="col-2">
                        <strong>Actions</strong>
                    </div>
                </div>
            </div>
            <div class="list-group list-group-flush">
                {% for question in questions %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-lg">
                            <p style="width: 700px; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <a href="{% if question.question_type == "Boolean" %}
                            {% url 'add_boolean_question' survey_id=survey.pk question_id=question.pk %}
                            {% elif question.question_type == "Text" %}
                            {% url 'add_text_question' survey_id=survey.pk question_id=question.pk %}
                            {% elif question.question_type == "MultipleChoice" %}
                            {% url 'add_mc_question' survey_id=survey.pk question_id=question.pk %}
                            {% elif question.question_type == "Checkbox" %}
                            {% url 'add_checkbox_question' survey_id=survey.pk question_id=question.pk %}
                            {% endif %}">{{ question.question_text }}</a>
                            </p>
                        </div>
                        <div class="col-2">
                            {% if question.question_type == "Boolean" %}
                                <span class="badge badge-success">True/False</span>
                            {% elif question.question_type == "Text" %}
                                <span class="badge badge-warning">Short Answer</span>
                            {% elif question.question_type == "MultipleChoice" %}
                                <span class="badge badge-primary">Multiple Choice</span>
                            {% elif question.question_type == "Checkbox" %}
                                <span class="badge badge-info">Checkbox</span>
                            {% endif %}
                         </div>
                        <div class="col-2">
                            <button onclick="document.getElementById('id05').style.display='block';
                            document.getElementById('id06').style.display='block';
                            document.getElementById('delete_link').href='{% url 'delete_question' survey_id=survey.pk question_id=question.pk type_id=question.question_type %}';"
                                    type="button" class="btn btn-danger"><i class="fa fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="card-footer">
                <a href="{% url 'choose_question_type' survey.pk %}" class="btn btn-sm" style="background-color: #B8F2E6; border-color: #B8F2E6; color: black">
                    Add question
                </a>
            </div>
        </div>
    </div>
{% endblock content %}