{% extends "teachers/base.html" %}

{% block content %}
    {% if class_list %}
        <table>
            <tr>
                <th width=100em><br>Class</th>
                <th><br>Students</th>
            </tr>

            {% for class in class_list %}
                <tr>
                    <td width=100em>{{ class.name }}</td>
                    <td>{{ class.students.count }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <br>No classrooms are available.
    {% endif %}

{% endblock content %}
