{% extends "teachers/base.html" %}

{% block content %}
    {% if class_list %}
        <div class=" container text-center table-responsive text-nowrap" style="margin-top: 5em; text-align: center">
            <table class="table table-light table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                      <th style="width: 25px">Class</th>
                      <th style="width: 25px">Students</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in class_list %}
                        <tr>
                            <td><a href="{% url 'view_surveys' class.id %}" >{{ class.name }}</a></td>
                            <td>{{ class.students.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <br>No classrooms are available.
    {% endif %}

{% endblock content %}
