{% extends "teachers/base.html" %}

{% block content %}
    <div>
        <h2 style="text-align: center; margin-top: 0.5em">
            {% for class in class_name %} {{ class.name }} {% endfor %} Surveys
        </h2>
    </div>
    <div class="container">
        <a href="{% url 'add_survey' classroom_id %}" class="btn btn-primary" style="margin-top: 0.5em">
            <span class="fa fa-plus"></span> Survey
        </a>
    </div>
    {% if survey_list %}
        <div class=" container table-responsive text-nowrap" style="margin-top: 2em; text-align: center">
            <table class="table table-light table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                      <th style="width: 15px">Survey</th>
                      <th style="width: 15px">Survey Id</th>
                    </tr>
                </thead>
                <tbody>
                    {% for survey in survey_list %}
                        <tr>
                            <td>{{ survey.name }}</td>
                            <td>{{ survey.id }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="container">
            <p style="text-align: center"><br>No surveys are available.</p>
        </div>
    {% endif %}

{% endblock content %}
