{% extends "teachers/base.html" %}

{% block content %}
    <div class="content">
        <br>
        <div class="row justify-content-center">
            <h2>View Recurring Questions</h2>
            <span class="fa fa-info-circle" data-toggle="tooltip" title="These questions are automatically repeated on every survey and
                  you will be able to view detailed data about these questions! Please refer to the tutorial video for an in-depth
                  explanation." aria-hidden="true">
            </span>
        </div>


        <br>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <strong>Questions</strong>
                    </div>
                    <div class="col-2">
                        <strong>Question Type</strong>
                    </div>
                    <div class="col-2">
                        <strong>Actions</strong>
                    </div>
                </div>
            </div>
            <div class="list-group list-group-flush">
                {% for question in questions %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-lg">
                            <p style="width: 700px; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <a href="{% if question.question_type == "boolean" %}
                            {% url 'add_boolean_question' survey_id=base_survey_id question_id=question.pk %}
                            {% elif question.question_type == "text" %}
                            {% url 'add_text_question' survey_id=base_survey_id question_id=question.pk %}
                            {% elif question.question_type == "mc" %}
                            {% url 'add_mc_question' survey_id=base_survey_id question_id=question.pk %}
                            {% elif question.question_type == "checkbox" %}
                            {% url 'add_checkbox_question' survey_id=base_survey_id question_id=question.pk %}
                            {% endif %}">{{ question.question_text }}</a>
                            </p>
                        </div>
                        <div class="col-2">
                            {% if question.question_type == "boolean" %}
                                True/False
                            {% elif question.question_type == "text" %}
                                Short Answer
                            {% elif question.question_type == "mc" %}
                                Multiple Choice
                            {% elif question.question_type == "checkbox" %}
                                Checkbox
                            {% endif %}
                        </div>
                        <div class="col-2">
                            <a href="{% url 'delete_question' survey_id=base_survey_id question_id=question.pk type_id=question.question_type %}" type="button" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <a href="{% url 'choose_question_type' base_survey_id %}" class="btn btn-primary btn-sm">Add question</a>
            </div>
        </div>

    </div>

    <script>$(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock content %}