{% extends "base.html" %}
{% block title %} Take Survey {% endblock %}

{% block content %}
    <h1>survey.name</h1>
    <form>
        {% csrf_token %}
        {% for i in total_questions %}
            {% for q in boolQuestions %}
                {% if q.rank == i %}
                    <h2>q.question_text</h2>
                    <ul>
                        <li><input type="radio", value="chosen", name="true_"+i>{{ "True" }}</li>
                        <li><input type="radio", value="chosen", name="false_"+i>{{ "False" }}</li>
                    </ul>
                {% endif %}
            {% endfor %}
            {% for q in textQuestions %}
                {% if q.rank == i %}
                    <h2>q.question_text</h2>
                    <input type="text", name="txt_response_"+i>
                {% endif %}
            {% endfor %}
            {% for q in mcQuestions %}
                {% if q.rank == i %}
                    <h2>q.question_text</h2>
                    <ul>
                        {% if q.option_a != null %}
                            <li><input type="radio", value="chosen", name="mc_a_"+i>{{ q.option_a }}</li>
                        {% endif %}
                        {% if q.option_b != null %}
                            <li><input type="radio", value="chosen", name="mc_b_"+i>{{ q.option_b }}</li>
                        {% endif %}
                        {% if q.option_c != null %}
                            <li><input type="radio", value="chosen", name="mc_c_"+i>{{ q.option_c }}</li>
                        {% endif %}
                        {% if q.option_d != null %}
                            <li><input type="radio", value="chosen", name="mc_d_"+i>{{ q.option_d }}</li>
                        {% endif %}
                        {% if q.option_e != null %}
                            <li><input type="radio", value="chosen", name="mc_e_"+i>{{ q.option_e }}</li>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endfor %}
            {% for q in cbQuestions %}
                {% if q.rank == i %}
                    <h2>q.question_text</h2>
                    <ul>
                        {% if q.option_a != null %}
                            <li><input type="checkbox", value="chosen", name="cb_a_"+i>{{ q.option_a }}</li>
                        {% endif %}
                        {% if q.option_b != null %}
                            <li><input type="checkbox", value="chosen", name="cb_b_"+i>{{ q.option_b }}</li>
                        {% endif %}
                        {% if q.option_c != null %}
                            <li><input type="checkbox", value="chosen", name="cb_c_"+i>{{ q.option_c }}</li>
                        {% endif %}
                        {% if q.option_d != null %}
                            <li><input type="checkbox", value="chosen", name="cb_d_"+i>{{ q.option_d }}</li>
                        {% endif %}
                        {% if q.option_e != null %}
                            <li><input type="checkbox", value="chosen", name="cb_e_"+i>{{ q.option_e }}</li>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <button type="submit", name="submit", value="submit">Submit</button>
    </form>
{% endblock %}