{% extends "teachers/base.html" %}

{% block title %}
    Dashboard • Classbop
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h3 class="display-3 row justify-content-center">
            Survey Results
        </h3>
    </div>

    <div class="container" style="margin-top: 3em;">
        <div class="row justify-content-center textbox">
            Here you can view informative graphs and charts that show how the students' responses
            evolve over time for a specific survey.
            To start, please select the class you want to view from the dropdown below.

            <div class="display-3 row justify-content-center mt-4 mb-3">
                <div class="dropdown show">
                    <a class="btn btn-blue dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Class
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for class in class_list %}
                            <a class="dropdown-item" href="{% url 'dashboard:dash_select' class.id %}">{{ class.name }}</a>
                        {% empty %}
                            <a class="dropdown-item" href="{% url 'teachers:add_class' %}"><span class="fa fa-plus"></span> Class</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}