{% extends 'teachers/base.html' %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <div class="container" style="text-align: center; margin-top: 2em;">
        <h1>Dashboard</h1>
    </div>

    <div class="container" style="margin-top: 2em; display: flex">
        <div class="dropdown show">
            <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ classroom.name }}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for class in class_list %}
                    {% if class.id == classroom.id %}
                        <a class="dropdown-item disabled" href="{% url 'dash_select' class.id %}">{{ class.name }}</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'dash_select' class.id %}">{{ class.name }}</a>
                    {% endif %}
                {% empty %}
                    <a class="dropdown-item" href="/teacher/add_class"><span class="fa fa-line-add"></span> Class</a>
                {% endfor %}
            </div>
        </div>

        <!-- Select Survey dropdown -->
        <div class="dropdown show" style="margin-left: 1em;">
            <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ curr_survey.name }}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for survey in survey_list %}
                    {% if survey.id == curr_survey.id %}
                        <a class="dropdown-item disabled" href="{% url 'teacher_dashboard' classroom.id survey.id %}">{{ survey.name }}</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'teacher_dashboard' classroom.id survey.id %}">{{ survey.name }}</a>
                    {% endif %}
                {% empty %}
                    <a class="dropdown-item" href="{% url 'add_survey' classroom.id %}"><span class="fa fa-plus"></span> Survey</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        {% for data in graph_data %}
            {% if forloop.counter0|divisibleby:2 %}
                <div class="row">
            {% endif %}
                <div class="col-lg-6 col-sm-12"  style="margin-top: 2em;">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="myChart{{ forloop.counter0 }}" style="height: 15em; width: 20em;"></canvas>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:2 %}
                </div>
            {% endif %}
        {% endfor %}
        {{ graph_data|json_script:"graph_data" }}

        <script>
           const graph_data = JSON.parse(document.getElementById('graph_data').textContent);

           for (var i = 0; i < Object.keys(graph_data).length; i++) {
                var ctx = document.getElementById("myChart" + i);
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: graph_data[i][2],
                        datasets: [{
                            data: graph_data[i][3],
                            borderColor: '#007bff',
                            borderWidth: 4,
                            pointBackgroundColor: '#007bff',
                            fill: false
                        }]
                    },
                    options: {
                        responsive: true,
                        spanGaps: true,
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: graph_data[i][1]
                        },
                        elements: {
                            line: {
                                tension: 0
                            }
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Date'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: '% True'
                                },
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }

        </script>

    </div>
{% endblock %}